<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dagi tech</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- ........................header.......................................... -->
    <header>
        <nav class="navbar">
            <div class="navbar__container">
              <a href="#home" id="navbar__logo">dagi tech</a>
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="#home" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                  <a href="#blog" class="navbar__links" id="about-page">Blog</a>
                </li>
                <li class="navbar__item">
                  <a href="#services" class="navbar__links" id="services-page">Services</a>
                </li>
                <li class="navbar__item">
                  <a href="#footer" class="navbar__links">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
      </header>
 <!-- ...................................header end.......................................... -->
<!-- .............................blog start............................................ -->



<h1>blog</h1>











<!-- .............................blog end............................................ -->










      <!-- ...........................footer start............................................ -->
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affliate</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shiping</a></li>
                        <li><a href="#">payment</a></li>
                        <li><a href="#">returns</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contact</h4>
                    <ul>
                        <li><a href="#">phone number</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affliate</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="socila-links">
                        <ul>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">youtube</a></li>
                        <li><a href="#">instagram</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- ..............................footer...................................... -->
</body>
</html>